* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #334e64;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/4457228-1136382173-pixie.jpg");
}

.stack-container {
    display: flex;
}

.profile-container {
    position: relative;
    background-color: #fff;
    width: 270px;
    padding: 100px 50px 40px;
    border-radius: 12px;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.img-container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 5px solid #b92a76;
    border-radius: 50%;
    box-shadow: 0 8px 55px #b92a76a4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container.tink {
    border: 5px solid green;
}

.img-container.iridessa {
    border: 5px solid orangered;
}

.img-container.silvermist {
    border: 5px solid rgb(5, 5, 199);
}

.img-container.fawn {
    border: 5px solid rgb(128, 51, 0);
}

.img-container img {
    width: 100%;
    max-width: 100%;
    transform: scale(1.3);
}

.info {
    margin-bottom: 12px;

}

.info.tinker {
    color: green;
}

.info.light {
    color: orangered;
}

.info.water {
    color: rgb(5, 5, 199);
}

.info.animal {
    color: rgb(128, 51, 0);
}

.info i {
    margin-right: 8px;
    font-size: 1.1em;
}

.place {
    margin-bottom: 40px;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #b92a76;
}

.posts-info {
    width: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    text-align: center;
}

.posts-info span {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.social-container i {
    color: #fff;
}

.social-container button{
    border: none;
    background-color: red;
    outline: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    margin-right: 5px;
    margin-left: 5px;
}

.social-container button:hover {
    transform: scale(1.2);
}

/* Social Colors */

.social-container button.youtube {
    background: linear-gradient(45deg, #ff000088, #ff0000);
}

.social-container button.linkedin {
    background: linear-gradient(45deg, #0e76a888, #0e76a8);
}

.social-container button.instagram {
    background: linear-gradient(45deg, #e6683ccc, #dc2743 50%, #bc1888 100%);
}

.social-container button.github {
    background: linear-gradient(45deg, #33333388, #333333);
}

.action {
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #b92a76;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.action a {
    color: #fff;
    text-decoration: none;
}

.action.tinkerbell {
    background-color: rgb(1, 105, 1);
}

.action.silvermist {
    background-color: rgb(1, 1, 107);
}

.action.iridessa {
    background-color: rgb(155, 43, 3);
}

.action.fawn {
    background-color: rgb(77, 36, 2);
}

.action.rosetta {
    background-color: #810648;
}

.action.message {
    background-color: #b9830d;
}

.action:hover {
    transform: scale(1.05);
    opacity: 0.85;
}
